name: Build PR Branch

on:
  pull_request:
  workflow_dispatch:

jobs:
  build_date:
    runs-on: ubuntu-latest
    name: Generate BUILD_DATE
    steps:
    - name: Get current date
      id: date
      run: echo "BUILD_DATE=$(date +'+%A %W %Y %X')" >> $GITHUB_OUTPUT
    outputs:
      BUILD_DATE: ${{ steps.date.outputs.BUILD_DATE }}
  build_image:
    name: Build test image
    runs-on: ubuntu-latest
    needs: build_date
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Test build
      uses: docker/build-push-action@v6
      with:
        push: false
        tags: |
          ghcr.io/zooniverse/subject-set-search-api:test
          ghcr.io/zooniverse/subject-set-search-api:${{ github.sha }}
        build-args: |
          BUILD_DATE=${{ needs.build_date.outputs.BUILD_DATE }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
